body {
    font-family: Arial, sans-serif; /* Fuente legible y moderna */
    margin: 0; /* Elimina el margen predeterminado del navegador */
    padding: 0; /* Elimina el relleno predeterminado del navegador */
}
header {
    background-color: #805a3b;
    color: white;
    padding: 20px;
    text-align: center;
}
section {
     min-height: 100vh;/* Altura mínima para ocupar toda la pantalla*/
    padding: 20px;
    background-color: #fef2e4; ;
}


div {
    display: inline;
    justify-content: space-around;
    padding: 20px;
}

h2 {
    color: #c60000;
    text-align: center;     /* Centra el título */
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Tamaño de fuente para los enlaces */
    margin: 0 10px;
    
    
    
    
}
.btn {
    display: flex;  /* Utiliza flexbox para centrar el contenido del botón */
    justify-content: center; /* Centra horizontalmente el contenido del botón */
    align-items: center;    /* Centra verticalmente el contenido del botón */
    background-color: #805a3b;
    color: white;
    padding: 10px 20px;
    border: 1px solid #75716a;
    border-radius: 10px;    /* Bordes redondeados para el botón */
    text-decoration: none;  /* Elimina el subrayado de los enlaces */
    font-size: 15px;        /* Tamaño de fuente para el texto del botón */
    
}

div.menu:hover {
    background-color: #c60000; /* Cambia el color de fondo del menú al pasar el mouse */
    padding: 10px 20px; /* Agrega un poco de relleno al menú al pasar el mouse */
    border-radius: 10px; 
    

}

.btn:hover {
    background-color: #c60000; /* Cambia el color de fondo del botón al pasar el mouse */
    color: white; /* Mantiene el texto blanco al pasar el mouse */
}

p {
    text-align: center; /* Centra el texto */
    font-size: 21px; /* Tamaño de fuente para los párrafos */
    color: #333; /* Color del texto */
}
div.menu{
    display: inline;
    width: 100%;
}
